@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;
  --font-head: "Ubuntu", sans-serif;

  /* Light Theme Colors */
  --primary-color: #edf2f8;
  --secondary-color: #ed6f63;
  --white-color: #ffffff;
  --black-color: #2b2b2b;
  --lightGray-color: #e4e4e4;
  --silver-color: #cbcbcb;
  --slategray-color: #6b7688;
  --snow-color: #fef4f5;
  --whitesmoke-color: #f2f7fb;
  --nav-glass-color:#ffffff40;
  --nav-glass-border: #ffffff2e;
}

[data-theme="dark"] {
  --primary-color: #242933;
  --secondary-color: #ed6f63;
  --white-color: #2f3541;
  --black-color: #e4e6eb;
  --lightGray-color: #4f5666;
  --silver-color: #767d8a;
  --slategray-color: #b0b8c4;
  --snow-color: #2d323d;
  --whitesmoke-color: #2a303a;
  --nav-glass-color:#11111140;
  --nav-glass-border: #1111112e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
